* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(44, 44, 44);
}

.game-container {
  position: relative;
}
